

body{
    background-image: url(hero-background.png);
    background-repeat: repeat-x;
    font-family:"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap" rel="stylesheet" ;
    font-family: 'Poppins', sans-serif;
    color:
     rgb(255, 255,255),
     rgb(0, 0, 0),
    rgb(228, 188, 81), ;
    font-size: 18px;

    
    /* 18px ,20px ,23px ,3rem ,5.6rem */


    
}
h1{
    font-size: 5.6rem;
    font-weight: 900; 
}
.h4{
    color: white;
    text-align-last: center;
    text-decoration: underline;
    border: hidden;
    background-color: darkgoldenrod;
}
.link1{
    color: white;

}


nav ul li .link2{
    display: flex;
    text-decoration: none;
    color: black;
    list-style-type: none;
    gap: 40;
    
}

ul{
    position: sticky;
    display: flex;
    gap: 40px;
    color: black;
    list-style-type: none;
}

button{
    border-radius: 5px;
    background-color: black;
    color: white;
}


nav ul .link3{
    margin-left: 200px;
   
    
    


}


.link4{
    background-color: white;
    width: 150px;
    color: black;
    height:35px;
    border-radius: 5px;
    border-color: white;
}
aside{
    display: inline-flex;
    font-size: 3rem;
    margin-left: 600px;
   margin-top: -350px;
}
aside .image1{
    position: relative; 
}
aside .image2{
   position: absolute;
    
}
.love{
  /* margin-bottom: -150px;  */
  width:1100px ;
  height: 450px;
  margin-top: 100px;

    
   
}
.video{
    width: 750px;
    height: 1000px;
    position: absolute;
    margin-bottom: -200px;
    margin-top: -200px;
    padding-left: 150px;
}
.last{
    display: inline-flex;
    padding: 200px;
}
footer{
    margin-left: 600px;
}